<div class="main__container">
    <div class="signup-card">
  
      <main class="signup-content">
        <span class="signup-header">
          <fa-icon [icon]="faUserPlus"></fa-icon>&nbsp;
          Sign Up
        </span>
        <!-- signup form -->
  
        <form class="signup-form" (ngSubmit)="signup($event)" #authform="ngForm">
          <input ngModel type="email" autofocus placeholder="Email" name="email" class="signup-input" required>
          <input ngModel type="password" placeholder="Password" name="password" class="signup-input" minlength="6"
                 required>
          <input type="submit" name="submit" value="Create an account" class="signup-btn" [class.btn-disabled]="!authform.form.valid"
                 [disabled]="!authform.form.valid">
        </form>
        <div class="login-link-wrapper">
          <span class="login-notice">If you have an <b>account</b></span>
          <a class="login-link" routerLink="/login">
            <fa-icon [icon]="faSignInAlt"></fa-icon>&nbsp;Sign In
          </a>
        </div>
  
      </main>
  
      <!-- linking to signup -->
      <aside class="signup-aside">
      </aside>
  </div>
  
  <!-- Developer's footer -->
  <footer class="dev-footer">
    <div class="dev-info">Developed with ❤️ by <b>Włodzimierz Pawłowski (Walter Paulson)</b></div>
    <div class="date">2020 year</div>
    <div class="copyright">© All rights reserved</div>
  </footer>
</div>

 <app-error [message]="errorMessage"></app-error>