<div class="main__container">
    <div class="login-card">
  
      <main class="login-content">
        <span class="login-header">
          <fa-icon [icon]="faSignInAlt"></fa-icon>&nbsp;
          Sign In
        </span>
        <!-- login form -->
        <!-- <i class="fas fa-sign-in-alt"></i> 
            <i class="fas fa-user-plus"></i>
        -->
  
        <form class="login-form" (ngSubmit)="login($event)" #authform="ngForm">
          <input ngModel type="email" autofocus placeholder="Email" name="email" class="login-input" required>
          <input ngModel type="password" placeholder="Password" name="password" class="login-input" minlength="6"
                 required>
          <input type="submit" name="submit" value="Login" class="login-btn" [class.btn-disabled]="!authform.form.valid"
                 [disabled]="!authform.form.valid">
        </form>
        <div class="signup-link-wrapper">
          <span class="signup-notice">If you don't have an <b>account</b> yet</span>
          <a class="signup-link" routerLink="/signup">
            <fa-icon [icon]="faUserPlus"></fa-icon>&nbsp;Sign Up
          </a>
        </div>
  
      </main>
  
      <!-- linking to signup -->
      <aside class="login-aside">
      </aside>
    </div>

    <!-- Developer's footer -->
    <footer class="dev-footer">
      <div class="dev-info">Developed with ❤️ by <b>Włodzimierz Pawłowski (Walter Paulson)</b></div>
      <div class="date">2020 year</div>
      <div class="copyright">© All rights reserved</div>
    </footer>

  </div>
  
  
  <app-error [message]="errorMessage"></app-error>
  